<div>
  <h1 align="center">Welcome to Garden Builder!</h1>
  <div style="width: 600px;margin:auto">
    <img style="width: 600px" src="https://cdn.shopify.com/s/files/1/0270/3169/9555/articles/BRCLI_1400x.progressive.png.jpg?v=1586871588">
  </div>
</div>
