<%= form_with(model: [@garden, @task], local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.select :title, ["water garden","weed garden","harvest"]%>
  </div>

    <%= f.submit %>
<% end %>
