<% if current_user.gardens.ids.include?(@this_garden) %>
  <%= render partial: 'form', locals: {plant: @plant} %>
<% else %>
  <%= flash[:notice] = "This isn't your plant!" %>
<% end %>



<button type="button" class="btn btn-outline-secondary"> <%= link_to 'Back', :back %> </button>
