<p class="lead">Create a plant for your garden</p>


<%= render partial: 'form', locals: {plant: @plant} %>
<br>
<button type="button" class="btn btn-outline-secondary"> <%= link_to 'Back', :back %> </button>
