<p class="lead">Give your garden a name and select a variety</p>

<%= render partial: 'form', locals: {garden: @garden} %>

<br>

<a class="btn btn-primary btn-md" <%= link_to 'Back', gardener_path(@gardener) %> </a>
