<p class="lead">Give your garden a name and select a variety</p>

<%= render partial: 'form', locals: {garden: @garden} %>

<br>

<button type="button" class="btn btn-outline-secondary"> <%= link_to 'Back', gardener_path(@gardener) %> </button>
