<!-- This is my homepage -->

<div class="jumbotron">
  <h1 class="display-3">Build a Garden!</h1>
  <p class="lead">Sign up or log in below to start building gardens and planting plants! With Garden Builder, you can create
  different gardens, plant your plants in those gardens and write notes about each plant.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" <%= link_to "Sign Up", signup_path %> </a>
    <a class="btn btn-primary btn-lg" <%= link_to "Log in", login_path %> </a>
  </p>

</div>
