<!-- error messages go here -->
<% flash.keys.each do |type| %>
  <div data-alert class="alert-box" tabindex="0" aria-live="assertive" role="alertdialog">
    <%= flash[type] %><br>
    <button tabindex="0" class="closebtn" onclick="this.parentElement.style.display='none';" aria-label="Close Alert">&times;</button>
  </div>
 <% end %>
